.navbar-fixed
  nav.grey.lighten-5
    .nav-wrapper
      //- top nav
      ul#nav-mobile.left
        li
          a(href='#', data-activates='main-menu').button-collapse.show-on-large
            i.mdi-navigation-menu.grey-text.text-darken-4
            
      //- side nav
      ul#main-menu.side-nav
        li
          a(href='#!')
            | Home
        
    
