doctype html
html
  head
    title= title
    
    //- scripts
    script(src='bower_components/webcomponentsjs/webcomponents.min.js')
    block scripts
    
    //- polymer imports
    link(rel='import', href='bower_components/polymer/polymer.html')
    block imports
    
    //- application styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body(unresolved)
    
