doctype html
html
    head
        title= title

        //- scripts
        script(src='bower_components/webcomponentsjs/webcomponents.min.js')
        block scripts

        //- core imports
        link(rel='import', href='bower_components/polymer/polymer.html')
        link(rel='import', href='bower_components/font-roboto/roboto.html')
        link(rel='import', href='bower_components/core-toolbar/core-toolbar.html')
        block core-imports

        //- paper imports
        block paper-imports

        //- application styles
        link(rel='stylesheet', href='/stylesheets/style.css')
        block styles

    body(unresolved, vertical, layout)
        core-toolbar#navigation

        section(horizontal, layout).content
            block content