body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

.navbar
  background-color     #fff
  border-bottom-style  solid
  border-bottom-width  1px
  border-bottom-color  lightgrey

.content
  padding-top 60px
